[submodule "themes/hugo-devresume-theme"]
	path = themes/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
[submodule "dkremez.github.io"]
	path = dkremez.github.io
	url = git@github.com:dkremez/dkremez.github.io.git
	branch = master
